<!DOCTYPE html>
<html>
    <head> <!-- Need to come back and make this look pretty -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Scarecrow Create Account</title>
        <link rel="stylesheet" href="account.css">
    </head>
    <body>
        <h1>{{ Heading }}</h1>
        <h2>{{ acc_info }}</h2>
        <form action="#" method="post">
            <p>Username: </p>
            <p><input type="text" name="un" placeholder="Username" /></p>
            <p>Email Address: </p>
            <p><input type="text" name="ea" placeholder="Email Address" /></p>
            <p>Password: </p>
            <p><input type="text" name="pass" placeholder="Password" /></p>
            
            <p><input type="submit" name="submit_account" /></p>
        </form>
        <a href={{login_link}}>Login to account</a>
    </body>
</html>
